.btn_shorten {
  padding: 5px;
  background-color: red;
}
#input_data {
  padding: 5px;
  width: 300px;
}
#input_short {
  padding: 5px;
  width: 300px;
}
body {
  background-color: green;
}
.result {
  padding: 5px;
  width: 300px;
}
