<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet"  href="style/css.css">

</head>
<body>
<label for="input_data">long_url:</label>
  <input id="input_data" type="text" name="" value="">
  <label for="input_short">write: short_url</label>
  <input id="input_short" type="text" name="" value="">

  <button class='btn_shorten' type="button" name="button">SHORT</button>
<div>short_url</div>
  <div id='link'></div>


  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src='js/shorten.js'></script>
</body>
</html>
